<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="description" content="Quotes from all around the world">
  <meta name="keywords" content="quotes, authors, inspiratipn">
  <meta name="author" content="Ameer Khan">

  <!-- Open Graph meta tags (for sharing on social media) -->
  <meta property="og:title" content="Quotifye.live">
  <meta property="og:description" content="Quotes for everyday and every situation">
  <meta property="og:url" content="URL of the page">
  <meta property="og:type" content="website">

  <!-- Twitter meta tags (for sharing on Twitter) -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@quotify.live">
  <meta name="twitter:title" content="Quotify">
  <meta name="twitter:description" content="Quotes for everyday and every situation">


  <!-- Canonical URL -->
  {% block canonical %}
  <link rel="canonical" href="https://www.quotify.live">
  {% endblock %}
  <title>{% block title %}Quotify.live - Quotes from all around the world{% endblock %}</title>
  {% load static %}
  <link rel="icon" type="image/x-icon" href="{% static 'quotify/assets/favicon_quotify.PNG' %}">

  {% comment %} {% load compress %} {% endcomment %}
  {% comment %} {% compress css %} {% endcomment %}
  <link rel="stylesheet" href="{% static 'quotify/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'quotify/css/pagination.css' %}">
  {% comment %} {% endcompress %} {% endcomment %}

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3997449580063101"
    crossorigin="anonymous"></script>
</head>

<body>
  {% block navbar %}
  <header class="grid" id="main-header">
    <a href="{% url 'home' %}" class="logo"><img class="grid" src="{% static 'quotify/assets/logo.png' %}"
        alt="quotify logo"></span>
    </a>
    <ul class="navbar">
      <li>
        <!-- Search box for desktop design -->
        <form action="{% url 'search_quote' %}" method="get">
          <div class="searchbox">
            <input type="search" name="searchTerm" placeholder="Search...">
            <button class="search_btn">
              <img src="{% static 'quotify/assets/search.png' %}" alt="search icon">
            </button>
          </div>
        </form>
      </li>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'todays_quote' %}">Today's Quote</a></li>
      <li><a href="{% url 'authors' %}">Authors</a></li>
      <li><a href="{% url 'categories' %}">Categories</a></li>
    </ul>
    <button id="toggleMenu" class="hamburger" type="button">
      <div class="bar"></div>
    </button>
  </header>

  <nav class="mobile_nav">
    <!-- Search box for mobile design -->
    <form action="{% url 'search_quote' %}" method="get">
      <div class="searchbox_mobile">
        <input type="search" name="searchTerm" placeholder="Search...">
        <button class="search_btn">
          <img src="{% static 'quotify/assets/search.png' %}" alt="search icon">
        </button>
      </div>
    </form>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'todays_quote' %}">Today's Quote</a>
    <a href="{% url 'authors' %}">Authors</a>
    <a href="{% url 'categories' %}">Categories</a>
  </nav>
  <div class="bouncing-blobs-container">
    <div class="bouncing-blobs-glass"></div>
    <div class="bouncing-blobs">
      <div class="bouncing-blob bouncing-blob--blue"></div>
      <div class="bouncing-blob bouncing-blob--blue"></div>
      <div class="bouncing-blob bouncing-blob--blue"></div>
      <div class="bouncing-blob bouncing-blob--white"></div>
      <div class="bouncing-blob bouncing-blob--purple"></div>
      <div class="bouncing-blob bouncing-blob--purple"></div>
      <div class="bouncing-blob bouncing-blob--pink"></div>
    </div>
  </div>
  {% endblock %}


  {% block content %}
  {% endblock %}

  {% block footer %}
  <footer>
    <ul class="social">
      <li><a href="https://www.instagram.com/quotify.live"><img src="{% static 'quotify/assets/instagram-logo.png' %}"
            alt="instagram" class="social_logo"></a></li>
    </ul>
  </footer>
  {% comment %} {% compress js %} {% endcomment %}
  <script src="{% static 'quotify/js/pagination.js' %}"></script>
  <script src="{% static 'quotify/js/app.js' %}"></script>
  {% comment %} {% endcompress %} {% endcomment %}
  {% endblock %}
</body>

</html>